body {
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(35, 54, 61);
  padding: 15px;
  text-align: center;
}

header h1 {
  color: white;
}

.section-1 {
  text-align: center;
  margin-bottom: 25px;
}

.container {
  padding: 5%;
}

.border {
  height: auto;
  width: 100%;
  border-top: 3px solid rgb(35, 54, 61);
  border-bottom: 1px solid rgb(35, 54, 61);
  padding: 2.5px;
}

.section-2 label {
  display: block;
  padding: 2px;
  margin-bottom: 5px;
  margin-top: 10px;
}

/* .section-2 input ,
.section-2 select {
    width: 90%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgba(229, 229, 235, 0.877);
} */

.section-2 select {
  max-width: 100%;
  width: 100%;
}

.bottom-form-part {
  display: flex;
  flex-direction: column;
}

.bottom-form-part input {
  flex-grow: 1;
}

button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: rgb(72, 201, 158);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 3%;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 92%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

.copy {
  text-align: center;
  text-transform: italic;
}

.linebreak {
  background-color: rgb(35, 54, 61);
  border: 0 none;
  color: rgb(35, 54, 61);
  height: 8px;
}

.linebreak2 {
  background-color: rgb(35, 54, 61);
  border: 0 none;
  color: rgb(35, 54, 61);
  height: 2px;
}

fieldset {
  border: none;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
  background-color: blue;
}

input[type="radio"],
input[type="checkbox"],
button[type="submit"] {
  cursor: pointer;
}

textarea:focus,
input:focus {
  border-color: lightblue;
}

::-webkit-input-placeholder {
  text-align: right;
}

input:focus,
textarea:focus {
  border: solid 2px lightblue;
}

fieldset {
  padding: 0;
}

/* @media screen and (min-width: 480px) {

    /* form {
      max-width: 480px;
    } */

@media screen and (min-width: 768px) {
  .section-2 label {
    display: inline-block;
    padding: 2px;
    margin-bottom: 5px;
    margin-top: 10px;
  }

  .container {
    max-width: 50%;
    margin: auto;
  }

  .section-2 select {
    max-width: 100%;
    width: 100%;
  }

  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 3%;
    font-size: 16px;
    height: auto;
    margin: auto;
    outline: 0;
    padding: 15px;
    width: 70%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    margin-bottom: 30px;
  }
}
