
body {
  margin: 0;
}

#main-section {
  background-color: orange;
}

*{
font-family: 'Merriweather', serif;}

::-webkit-input-placeholder {
  text-align: right;
}

#main-header {
  text-align: center;
  background-color: midnightblue;
  color: white;
  padding: 10px;
}

form {
  padding-bottom: 25px;
}

h1 {
  text-align: center;
  font-size:x-large;
  margin-top: 0;
  padding-top: 15px;
}

div p{
  text-align: center;
}

fieldset {
  border: none;
  
}

#top_part {
  text-align: center;
}

hr {
  border: solid;
  width: 90%;
}

footer {
  text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 10px;
    margin-bottom: 10px;
}

button{
  width: 80%;
  padding: 15px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: aquamarine;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

.main-section {
  margin-right: 10px;
  margin-left: 10px;
}


#textarealabel{
    margin-left: 6%;
}

label {
  display: inline-block;
}

#contactsection label {
    display: block;
    text-align: left;
}
#contactsection input {
    display: block;
    text-align: left;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 15px;
    width: 94%;
}

input:focus,
textarea:focus,
select:focus {
  border: solid 3px blue;
  background-color: lightblue;
  transform: scale(1.025);
  transition-duration: .5s;
}


input[type="radio"],
input[type="checkbox"],
button[type="submit"], 
label{
  cursor: pointer;
}


#contactsection select {
  display: block;
  text-align: left;
  width: 99%;
  padding: 7px;
  margin-top: 3px;
  margin-bottom: 15px;
}

input#Zip_Code {
  width: 35%;
  padding: 7px;
  margin-top: 3px;
  margin-bottom: 15px;
}

#bottom-part input {
    float: left;
    margin: 0;
}

#bottom-part label {
    padding-bottom: 15px;
    padding-left: 5px;
}


p.copy {
  font-style: italic;
  font-weight: lighter;
  background-color: midnightblue;
  padding-top: 25px;
  padding-bottom: 225px;
  margin: 0;
  color: white;
}


#text_area{
  height: 125px;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
select,
textarea{
border-radius: 4%;
}


legend {
    text-align: left;
    padding-bottom: 15px;
    font-weight: bold;
}


@media screen and (min-width: 768px){
  #main-section {
    width: 70%;
    margin: auto;
}

button {
    width: 94%;
    padding: 15px;
    margin-left: 4%;
    margin-right: 5%;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 91%;
    margin-top: 10px;
    margin-bottom: 10px;
}

div p {
    text-align: center;
    width: 90%;
    margin: auto;
}

#textarealabel {
    margin-left: 4%;
}

#contactsection label {
    text-align: right;
    clear: both;
    float: left;
    margin-right: 15px;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
}

#contactsection input {
        text-align: left;
    padding: 7px;
    margin-top: 3px;
    margin-bottom: 15px;
    width: 69%;
    display: flex;
    flex-direction: row;
    float: right;
}

#contactsection select {
    display: flex;
    flex-direction: column;
    width: 73%;
    float: right;
}

input#Zip_Code {
    float: right;
    width: 29%;
    margin-right: 41%;
}
}

@media screen and (min-width: 1024px){
  #main-section {
    width: 60%;
    margin: auto;
}
}